<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>registrarCliente</servlet-name>
        <servlet-class>servlet.RegistrarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>iniciarSesion</servlet-name>
        <servlet-class>servlet.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarCliente</servlet-name>
        <servlet-class>servlet.ActualizarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarCliente</servlet-name>
        <servlet-class>servlet.EliminarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarCarrito</servlet-name>
        <servlet-class>servlet.AgregarCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrarSesion</servlet-name>
        <servlet-class>servlet.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrarPedido</servlet-name>
        <servlet-class>servlet.RegistrarPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscarPedidos</servlet-name>
        <servlet-class>servlet.BuscarPedidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarPedido</servlet-name>
        <servlet-class>servlet.ActualizarPedido</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrarCliente</servlet-name>
        <url-pattern>/registrarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>iniciarSesion</servlet-name>
        <url-pattern>/iniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarCliente</servlet-name>
        <url-pattern>/actualizarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarCliente</servlet-name>
        <url-pattern>/eliminarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarCarrito</servlet-name>
        <url-pattern>/agregarCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrarSesion</servlet-name>
        <url-pattern>/cerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrarPedido</servlet-name>
        <url-pattern>/registrarPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscarPedidos</servlet-name>
        <url-pattern>/buscarPedidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarPedido</servlet-name>
        <url-pattern>/actualizarPedido</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
